/**********/
/*Header*/

.header{
	background-image: linear-gradient(to right bottom,rgba($Light-green,0.8),rgba($Dark-green,0.8)), url(../img/hero.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	width:100%;
	position:relative;
	height: 95vh;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box{
	position: absolute;
	top: 4rem;
	left: 4rem;
}

.logo{
	height:3.5rem;
}

.text-box{
	position: absolute;
	text-align: center;
	top:40%;
	left:50%;
	color:white;
	transform: translate(-50%,-50%);
}