@import "../Base/variables";

h2 {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  font-size: 3.5rem;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  background-image: linear-gradient(to right, $Light-green, $Dark-green);
  color: transparent;
  -webkit-background-clip: text;

  @include respond(tab-land) {
    font-size: 3rem;
  }
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(#000000, 0.2);

    @include respond(tab-land) {
      transform: skewY(2deg) skewX(15deg) scale(1);
    }
  }
}

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-primary {
  display: block;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
}

.heading-primary__main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1.3s ease-out;
  @include respond(phone) {
    letter-spacing: 1.7rem;
  }
}

.heading-primary__sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: moveInRight 1.3s ease-out;
  @include respond(phone) {
    letter-spacing: 0.7rem;
  }
}
