@mixin respond($break-point) {
  @if ($break-point== "phone") {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if ($break-point== "tab-port") {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if ($break-point== "tab-land") {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($break-point== "big") {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
